.removeBtn{
    font-size: 22px;
    margin-right: 6px;
    color: grey;
    cursor: pointer;
}

.done-btn{
    outline: 0;
    border: 0;
    background-color: rgb(0, 187, 125);
    border-radius: 2px;
    color: white;
    padding: 6px 10px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
}



.delete-btn{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 187, 125);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    cursor: pointer;
}

